
<mat-tab-group disableRipple  >
  <!-- Sede Paraiso -->
  <mat-tab label="Sede Paraiso" > 
    <div class="content-banner d-flex flex-row">
      <div class="content-banner-information">  
        <ul class="list-unstyled"  >
          <label-block [info]="BanerFirstTab"></label-block>
        </ul>     
      </div>
     
        <img class="img-banner" src="https://via.placeholder.com/350" alt="img-information">
        <!-- <image-link [imgInfo]="imgFirstTab" ></image-link>       -->
    
    </div>
    <div class="content-banner2 d-flex flex-row">
      <div class="content-banner2-information">  
        <ul class="list-unstyled"  >
          <label-block [info]="InfoFirstTab"></label-block>
        </ul>        
      </div>
    </div>

  </mat-tab>

  <!-- Sede Viva -->
  <mat-tab label="Sede Viva"> 
    <div class="content-banner d-flex flex-row">
      <div class="content-banner-information">  
        <ul class="list-unstyled"  >
          <label-block [info]="BanerSecondTab"></label-block>
        </ul>        
      </div>
        <img class="img-banner" src="https://via.placeholder.com/350" alt="img-information">
      <!-- <image-link [imgInfo]="imgSecondTab"></image-link> -->
    </div>
    <div class="content-banner2 d-flex flex-row">
      <div class="content-banner2-information">  
        <ul class="list-unstyled"  >
          <label-block [info]="InfoSecondTab"></label-block>
        </ul>        
      </div>
    </div>
  </mat-tab>
</mat-tab-group>




  
